html, body {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(500px, 1fr) 2fr;
    background-color: rgb(221, 244, 255);
}

@media print {
    @page { size: auto;  margin: 0mm; }

    #root {
        grid-template-columns: 1fr;
        background-color: white;
    }

    .preview {
        padding: 0;
        overflow: visible;
    }

    .editor {
        display: none;
    }

    .page {
        width: 100%;
    }
}